{{set . "title" "Home"}}
{{template "header.html" .}}
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<form action="/shijuan/adddo" method="POST">
			{{with .list}}
			<ul>
				
				{{range .}}
				<li><a href="/share/to/{{.Id_.Hex}}">[我要分享]</a>
				{{if .Name}}
				{{.Name}}
				{{else}}
				{{.Content}}
				{{end}}
				
				<a href="/shijuan/ask/{{.Id_.Hex}}">去答题</a>[<a class="shows" lid="{{.Id_.Hex}}" href="/lianxiang/{{.Id_.Hex}}/type">联想</a>]</li>
				{{end}}
			
			
			</ul>
			{{end}}
			<input type="SUBMIT" value="生成试卷" />
			</form>
		</div>
	</div>

</div>
<script type="text/javascript">
	$(function(){
			$(".shows").bind("mouseover", function(){
				var lid = $(this).attr("lid");
				var other = this;
				$.ajax({
					"type":"GET",
					"url":"/lianxiang/"+lid,
					"dataType":"json",
					"success":function(res){
					$(other).attr("title", res)
					},
					
					});
				
				})	
			});
  function setSrcQuery(e, q) {
    var src  = e.src;
    var p = src.indexOf('?');
    if (p >= 0) {
      src = src.substr(0, p);
    }
    e.src = src + "?" + q
  }

  function reload() {
    setSrcQuery(document.getElementById('captcha-img'), "reload=" + (new Date()).getTime());
  }
</script>

{{template "footer.html" .}}
